---
layout: "default"
---

<div class="govuk-grid-row">

  {% assign toc_headings = content | toc %}

  {% if toc_headings.size > 0 %}
  <div class="govuk-grid-column-one-quarter">
    <nav aria-label="On this page">
      <h2 class="govuk-visually-hidden">On this page</h2>
      <ul class="govuk-list govuk-list--spaced">
        {% for heading in toc_headings %}
        <li class="toc-level-{{ heading.level }}">
          <a class="govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#{{ heading.slug }}">{{ heading.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="govuk-grid-column-three-quarters">
    {{ content }}
    {% include 'page-footer.html' %}
  </div>

  {% else %}

  <div class="govuk-grid-column-two-thirds">
    {{ content }}
    {% include 'page-footer.html' %}
  </div>

  {% endif %}

</div>
